.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  height: 80vh;
  width: 30vw;
  border: 1px solid black;
}

.dragable-card {
  display: flex;
}

.task {
  border: 1px solid black;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 5px;
  background: rgba(0, 0, 255, 0.336);
}
